<div id="<%= dom_id produkt %>">
  <p>
    <strong>Cena:</strong>
    <%= produkt.cena %>
  </p>

  <p>
    <strong>Obrazek:</strong>
    <%= produkt.obrazek %>
  </p>

  <p>
    <strong>Popis:</strong>
    <%= produkt.popis %>
  </p>

  <p>
    <strong>Velikost:</strong>
    <%= produkt.velikost %>
  </p>

  <p>
    <strong>Barva:</strong>
    <%= produkt.barva %>
  </p>

</div>
